// Variables
@use 'variables' as *;

// Bootstrap
@use 'bootstrap/scss/bootstrap' with (
    $body-bg: $body-bg,
    $font-family-sans-serif: $font-family-sans-serif,
    $font-size-base: $font-size-base,
    $line-height-base: $line-height-base
);

// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');
